<html>
    <head>
        <title>Registrar</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Welcome to the Registrar</h1>

            <p><a href='/courses'>Click here</a> to see all of the courses.</p>
            <p><a href='/students'>Click here</a> to see all of the students.</p>
        </div>
    </body>
</html>
